.product-page-header-secondary {
  &-inner {
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    @include media-breakpoint-up('lg') {
      margin-top: 20px;
      margin-bottom: 50px;
      padding: 0 16px;
    }

    .header-controls {
      display: flex;
      align-items: center;
      gap: 35px;

      .control-buttons > ul {
        display: flex;
        align-items: center;
        gap: 24px;
        font-size: 18px;
      }

      form {
        display: inline-flex;
        align-items: center;
        width: 260px;
        border: 1px solid $brand-secondary;
        height: 40px;
        position: relative;
      }

      .search-button {
        border: none;
        background: none;
        position: absolute;
        opacity: 0.8;
        top: 7.5px;
        left: 3px;
        font-size: 16px;

        i {
          color: $brand-primary;
          font-size: 20px;
        }
      }

      .search-field {
        border: none;
        background: none;

        &[placeholder='search' i] {
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
          font-size: 14px;
          text-align: left;
          color: $brand-primary;
          padding-left: 40px;
          text-transform: initial;
        }

        &::placeholder {
          color: $brand-primary;
        }
      }
    }
  }

  .header-connect {
    color: $brand-primary;
    font-size: 20px;

    ul {
      display: flex;
      justify-content: flex-end;
      gap: 30px;
      text-transform: uppercase;
    }
  }
}
