.product-page-header-secondary {
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    @include media-breakpoint-up('lg') {
      margin-bottom: 50px;
      padding: 0 16px;
    }

    .header-controls {
      display: flex;
      align-items: center;
      gap: 30px;

      .control-buttons > ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 30px;
        font-size: 20px;
      }

      .control-buttons > ul > li i[class*='fa-'] {
        transition: color 0.2s ease-in-out scale 0.2s ease-in-out;
      }

      .control-buttons > ul > li i[class*='fa-']:hover {
        color: $hover;
        transform: scale(1.3);
      }

      form {
        display: inline-flex;
        align-items: center;
        width: 260px;
        margin-left: 30px;
        border: 1px solid $brand-secondary;
        height: 40px;
        position: relative;
      }

      .search-submit {
        border: none;
        background: none;
        position: absolute;
        opacity: 0.5;
        top: 7.5px;
        left: 3px;
        font-size: 16px;

        i {
          color: $brand-primary;
          font-size: 20px;
        }
      }

      .search-box {
        border: none;
        background: none;

        &[placeholder='search' i] {
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
          font-size: 16px;
          text-align: left;
          color: $brand-primary;
          opacity: 0.8;
          padding-left: 50px;
        }
      }
    }
  }

  .header-connect {
    color: $brand-primary;
    font-size: 20px;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 20px;
      text-transform: uppercase;
    }

    a {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.24px;
    }

    a:hover {
      color: $hover;
      transform: scale(1.3);
    }

    i {
      font-size: 20px;
    }
  }
}
