.button {
  width: 120px;
  height: 60px;
  padding: 15px 0;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  background-color: $white;
  color: $brand-primary;
  border: 1px solid $brand-primary;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  text-decoration: none;
  text-transform: lowercase;

  &-submit {
    height: 40px;
    padding: 0;
    background-color: $brand-secondary;
    text-transform: uppercase;
      }

  &:hover {
     color: $hover;
     border: 1px solid $hover;
    }
}
