.content-product {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-up('md') {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 50px;
    margin: 40px 0;
  }

  .product-images {
    display: flex;
    flex-direction: column;

    .main-image {
      margin-bottom: 20px;

      img {
        max-width: 100%;
      }
    }

    .carousel-images {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      margin-bottom: 20px;

      img {
        max-width: 100%;
      }
    }
  }

  .product-details {
    header > h3 {
      font-size: 28px;
      font-weight: 700;
      margin-bottom:20px;
    }
    .product-description {
      p {
        font-size: 18px;
        text-align: justify;
      }

      h4 {
        font-size: 20px;
        font-weight: bold;
        border-top: 2px solid $brand-secondary;
        padding-top: 15px;
        margin-bottom: 10px;

        &:last-child {
          border-bottom: 2px solid $brand-secondary;
          margin-bottom: 0;
          padding-bottom: 10px;
        }
      }
    }
  }

  .product-ctas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 60px;

    .button {
      text-transform: uppercase;
      font-size: 16px;
      line-height: 16px;
      font-family: 'Roboto', sans-serif;
      width: 160px;
      height: 45px;
    }

    .cart-btn {
      display: flex;
      align-items: center;

      button {
        background: $brand-primary;
        color: $white;

        &:hover {
          background: $hover;
        }
      }

      i {
        width: 45px;
        height: 45px;
        border: 1px solid $brand-secondary;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $brand-primary;
        &:hover {
          background: $hover;
          color: $white;
        }
      }
    }

    .whishlist-btn {
      display: flex;
      align-items: center;

      button {
        border-color: $brand-secondary;

        &:hover {
          background: $hover;
          color: $white;
        }
      }

      i {
        width: 45px;
        height: 45px;
        border: 1px solid $brand-secondary;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $brand-secondary;
        &:hover {
          background: $hover;
          color: $white;
        }
      }
    }
  }

  .product-connect {
    header {
      text-decoration: underline;
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 20px;
      text-align: center;
      font-weight: 500;
    }

    .product-social-contact {
      border-top: 1px solid $brand-secondary;
      border-bottom: 1px solid $brand-secondary;

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        font-size: 24px;
        color: $brand-primary;
      }

      a:hover {
        color: $hover;
      }
    }
  }

  .product-customer-service {
    ul {
      display: flex;
      text-transform: uppercase;
      font-size: 18px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      text-align: center;

      li > a:hover {
          color: $hover;
        }

      li > a > span {
        text-transform: capitalize;
      }

      li:nth-child(2) {
        border-left: 1px solid $brand-secondary;
        border-right: 1px solid $brand-secondary;
      }

      li {
        padding: 10px 20px;
      }
    }
  }
}
