.home-catalog-preview {
  margin-bottom: 40px;

  @include media-breakpoint-up('lg') {
    margin-bottom: 80px;
  }

  .home-catalog-title {
    border-top: 2px solid $brand-secondary;
    margin: 25px 0;
    text-align: center;


    h2 {
      font-size: 36px;
      font-weight: 600;
    }
  }

}
