.home-catalog-preview {
  margin-bottom: 40px;

  @include media-breakpoint-up('lg') {
    margin-bottom: 80px;
  }

  .home-catalog-title {
    border-top: 2px solid $brand-primary;
    font-size: 22px;;
    margin: 25px 0;
    text-align: center;
    font-weight: 700;

    @include media-breakpoint-up('lg') {
      font-size: 36px;
      font-weight: 700;
    }
  }
}
